html
    head
        link(rel="stylesheet", href="https://cdn.bootcss.com/ol3/3.16.0/ol.css")
        link(rel="stylesheet", href="/css/test/ol3/style.css")
        
    body
        div(id="mapdiv", class="map-container")
    script(src="https://cdn.bootcss.com/require.js/2.2.0/require.min.js", data-main="/test/ol3/main.js")