<div class="list-group">
    <% _.each(list, function(item) { %>
    <div class="list-group-item">
        <p><%= item.name %></p>
        <p><%= item.css %></p>
        <p><%= item.js %></p>
    </div>
    <% }) %>
</div>