html
  head
    link(rel="stylesheet", href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css")
  body
    div(class="container")
      div(id="pin-view", class="row")
  script(src="https://cdn.bootcss.com/require.js/2.2.0/require.min.js", data-main="/app/webpin/main.js")