html
    head
        link(rel="stylesheet", href="https://cdn.bootcss.com/openlayers/2.13.1/theme/default/style.css")
        link(rel="stylesheet", href="/css/test/transform/style.css")
    body
        div(class="map-container")
            div(id="baiduMapDiv", class="map-baidu")
            div(class="map-div-seperator")
            div(id="gaodeMapDiv", class="map-gaode")
    script(src="https://cdn.bootcss.com/require.js/2.2.0/require.min.js", data-main="/test/transform/main.js")