<div class="btn-group">
  <button class="btn tool-select-feature" data="select-by-rect">矩形</button>
  <button class="btn tool-select-feature" data="select-by-circle">圆形</button>
  <button class="btn tool-select-feature" data="select-by-sector">扇形</button>
  <button class="btn tool-select-feature" data="select-by-arc">弧线</button>
  <button class="btn tool-select-feature" data="select-by-bezier2">贝塞尔2次曲线</button>
  <button class="btn tool-select-feature" data="select-by-nope">取消</button>
</div>