<!-- 模板 -->
<!--
<div id="header-region">

</div>
<div id="footer-region">

</div>
-->
<style>
    .ol-popup {
        position: absolute;
        background-color: white;
        -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
        padding: 15px;
        border-radius: 10px;
        border: 1px solid #cccccc;
        bottom: 12px;
        left: -50px;
        min-width: 280px;
    }
    .ol-popup:after, .ol-popup:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    .ol-popup:after {
        border-top-color: white;
        border-width: 10px;
        left: 48px;
        margin-left: -10px;
    }
    .ol-popup:before {
        border-top-color: #cccccc;
        border-width: 11px;
        left: 48px;
        margin-left: -11px;
    }
    .ol-popup-closer {
        text-decoration: none;
        position: absolute;
        top: 2px;
        right: 8px;
    }
    .ol-popup-closer:after {
        content: "✖";
    }
</style>

<div id="map-region">

</div>

<div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content"></div>
</div>

<div id="main-region">
    <div id="search"></div>
</div>

<div id="dialog-region">
    
</div>

<!-- 地图 -->
<script type="x-template/underscore" id="tpl-map-controller-map-view">
    <div id="map-<%= mid %>" class="map ng-map"></div>
    <div id="mouse-position" style="position: absolute;height: 20px;width:130px;left: 0px;bottom: 40px;"></div>

</script>

<!-- 搜索 -->
<script type="x-template/underscore" id="tpl-search-controller-search-view">
    <!--
    <div class="app-main-title">

    </div>
    -->

    <div id="search-searchbar-<%= mid %>" class="ng-search-bar">
        
    </div>
    
    <div id="search-classify-<%= mid %>" class="ng-search-classify">
    
    </div>
    
    <div id="search-result-<%= mid %>" class="ng-search-result">
    
    </div>
</script>

<!-- 搜索条 -->
<script type="x-template/underscore" id="tpl-search-controller-search-bar">
    <div class="input-group">
        <input class="form-control search-searchbar-searchTxt"/>
        <span class="input-group-btn">
            <div class="btn btn-default search-searchbar-toggleButton" style="display: none;width: 40px;">X</div>
            <div class="btn btn-default search-searchbar-reopenButton" style="display: none;width: 40px;">三</div>
            <div class="btn btn-primary search-searchbar-searchButton">搜索</div>
        </span>

    </div>
</script>

<!-- 搜索分类 -->
<script type="x-template/underscore" id="tpl-search-controller-search-classify">
    <div>
        <ul class="list-group">
            <% for (var i=0; i < classify.length; i++){ %>
                <% var item = classify[i]; %>
                <li class="ng-search-classify classify" data="<%= classify.code %>"><%= classify.name %></li>
            <% } %>
        </ul>
    </div>
</script>

<!-- 搜索结果列表 -->
<script type="x-template/underscore" id="tpl-search-controller-search-result">
    <div class="panel panel-primary ng-search-panel">
        <div class="ng-search-panel-list">
            <ul id="search-list-ul-<%=mid%>" class="list-group elements-list ng-search-result-list">

            </ul>
        </div>

    </div>
</script>

<script type="x-template/underscore" id="tpl-search-controller-search-result-item">
    <div style="width: 200px;height:30px;">
        <%= name %>
    </div>
</script>

<!-- toolbar -->
<script type="x-template/underscore" id="tpl-map-controller-toolbar-view">
    <div>
    
    </div>
</script>