html,body {
    padding: 0px;
    
}

#header-region {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 44px;
    background-color: rgba(33,33,33, 0.4);
}

#map-region {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#main-region {
    
}

#footer-region {
    position: absolute;
    bottom: 0px;
    height: 24px;
    left: 0px;
    right: 0px;
    background-color: rgba(33,33,33,0.4);
}

#dialog-region {
    
}

.ng-search-bar {
    position: absolute;
    top: 64px;
    left: 80px;
    height: 32px;
    width: 302px;
}

.app-main-title {
    position: absolute;
    top: 20px;
    left: 80px;
    width: 300px;
    height: 60px;

}

.ng-search-panel {
    position: absolute;
    top:120px;
    left:80px;
    bottom: 200px;
    width: 300px;
    max-height: 500px;
}

.ng-search-panel-hide-btn {
    position: absolute;
    right:4px;
    float: right;
    cursor: hand;
}

.ng-search-panel .ng-search-panel-list {
    position: absolute;
    top: 10px;
    left: 2px;
    right: 2px;
    bottom: 10px;
    overflow-y: auto;
}