html
    head
        link(rel="stylesheet", href="https://js.arcgis.com/4.0/esri/css/main.css")
        link(rel="stylesheet", href="/css/test/ags3d/style.css")
    body
        div(id="viewDiv")
        
    script(src="https://js.arcgis.com/4.0/")
    script(src="/test/ags3d/main.js")