html
    head
        link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet", href="/vendor/inspinia/dist/inspinia.css")
        link(rel="stylesheet", href="/vendor/ol3/ol.css")
        link(rel="stylesheet", href="/css/test/mario/style.css")
        
        title #{title}
        
        script.
            var __debug = #{debug};
            var __ctx = "";
        
    body
    
    script(src="/vendor/requirejs/require.js", data-main="/test/mario/main.js")