html
    head
        link(rel="stylesheet", href="https://cdn.bootcss.com/leaflet/1.0.0-rc.1/leaflet.css")
        link(rel="stylesheet", href="/css/test/leaf/style.css")
    body
        p 我是c9测试，你好!
        div(id="mapdiv", class="map-container")
        div(id="locator", class="map-toc")
    script(src="https://cdn.bootcss.com/require.js/2.2.0/require.min.js", data-main="/test/leaf/main.js")